# Application configurations
PORT=5000
NODE_ENV=development

# Database Configuration
# MongoDB connection URI (use your docker or cloud atlas connection)
MONGODB_URI=mongodb://localhost:27017/talvion

# JWT Secrets for Security Auths
JWT_SECRET=super_secret_talvion_jwt_passphrase_key_change_me_in_production
JWT_EXPIRES_IN=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
